.gsc-tabsArea, .gsc-result-info, .gsc-refinementsArea, .gs-imageResult .gs-text-box {
    display: none;
}

.gs-imageResult-column {
    width: auto !important;
    height: auto !important;
    border: 1px solid LightGray;
}

.gsc-imageResult-column, .gs-imageResult-column .gs-image-box {
    margin-right: auto !important;
}

img.gs-image {
    /* width: auto !important;
    height: 100% !important; */
    position: relative !important;
    float: left !important;
    width:  auto !important;
    height: 100px !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

div.gsc-cursor-box {
    text-align: center;
}


.gsc-input {
    display: none;
}
